<div class="container-fluid">
<div class="row">
    <div class="col-md-6 img-bg hidden-sm-down ">

    </div>
    <div class="col-md-6">
        <div class="row" style='height: 100vh;'>
            <div class="col-md-8 offset-md-2 content">
                <div class="logo-container">
                    <img src="assets/images/logo.png" alt="">
                    <h2 class="font-weight-bold">Mot de passe oublié</h2>
                </div>
                <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" *ngIf="forgetPasswordForm">
                    <div class="form-group">
                      <input formControlName="email" type="email" class="form-control auth-input" id="inputEmail4" placeholder="Email" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }">
                      <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email est obligatoire</div>
                        <div *ngIf="f.email.errors.email">Email n'est pas valide </div>
                      </div>
                    </div>
                    <div class="row remember-me" >
                        <div class="col-6" >
                          <a href="/login">
                            Login ?
                          </a>
                        </div>
          
                      </div>
                    <div class="form-group">
                      <button-component [type]="'submit'" [classes]="'btn-lg btn-block btn-primary default-bg radius'" [isdisabled]='forgetPasswordForm.invalid'>Valider</button-component>
                    </div>
                  </form>

            </div>

        </div>

    </div>
</div>
</div>